.ui.active.modal.edit  {
    display: block; 
    
    

}

#feed {

    margin:2%;
}

#SWAG{
    margin:1%;
}

#department{
width:20%;
 margin-top: 10%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  }