#Review {
    margin: auto;
    margin-top:2%;width: 50%;
    margin-bottom: 5% !important;
    
    padding: 10px;
  
}


#but{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;



}

#beforebut{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 0.2%;
  
  
  }


.ui.input.yolo {

    color:  red !important;
}


.flags{

        position: absolute; 
        bottom: 0px;
        right: 0px; 
    
}
#in{
    margin-top:5%;

}
#ir{

    background: rgb(233, 233, 233); 
    padding: 5%;
}


#A{
    width: 130px; height:
     130px; line-height: initial;
      text-align: center; color: rgb(255, 255, 255); 
      background: red;
}



#A1{
    width: 130px; height:
     130px; line-height: initial;
      text-align: center; color: rgb(255, 255, 255); 
      background: #fbbd08

}


#A2{

    width: 130px; height:
     130px; line-height: initial;
      text-align: center; color: rgb(255, 255, 255); 
      background:green
}

#B{

    display: table; table-layout: fixed; width: 100%; height: 100%; font-size: 40px;
}

#C{

    display: table-cell; 
    vertical-align: middle;
     white-space: nowrap;


}

#it{


    font-size: large;

}

@media (max-width:1024px){


    #Review {
        margin: auto;
        margin-top:2%;width: 80%;
        margin-bottom: 0% !important;
        
        padding: 10px;
      
    }

   
    
}


@media (max-width:500px){


    #grid {

        margin-top: 10% !important;
        margin-bottom: -1rem;
        margin-left: 10% !important ;
        margin-right: -1rem;
        
      
    }

   
    
}

@media only screen and (max-width: 767px) and (min-width:500px){


    #grid {
        margin-top: 1rem;
        margin-bottom: -1rem;
        margin-left: 5rem;
        margin-right: -1rem;
    }
   
    
}



@media only screen and (max-width: 1300px) and (min-width:820px){


    #Review {
        margin: auto;
        margin-top:2%;width: 80%;
        margin-bottom: 5% !important;
        
        padding: 10px;
      
    }

    #ir{

        background: rgb(233, 233, 233);
        padding: 10%;
    }
}


@media (max-width:450px){

    #ir{

        background: rgb(233, 233, 233);
        padding: 4%;
    }
 
}


#stat{

    margin: 2%;
}