#Review {
    margin: auto;
    margin-top:5%;width: 80%;
    border: 3px solid green;
    padding: 10px;
  
}


#A{
    width: 120px; height:
     120px; line-height: initial;
      text-align: center; color: rgb(255, 255, 255); 
      background: red;
}



#A1{
    width: 120px; height:
     120px; line-height: initial;
      text-align: center; color: rgb(255, 255, 255); 
      background: yellow;

}


#A2{

    width: 120px; height:
     120px; line-height: initial;
      text-align: center; color: rgb(255, 255, 255); 
      background:green
}

#B{

    display: table; table-layout: fixed; width: 100%; height: 100%; font-size: 40px;
}

#C{

    display: table-cell; 
    vertical-align: middle;
     white-space: nowrap;


}